
:root {
  --basic-white: #FFFFFF;
  --basic-red: #EE3643;
  --basic-black: #000000;
  --basic-black-dark: #293449;
  --basic-black-light: #32425C;
  --basic-yellow: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-lilac: #DC91D8;
  --basic-green: #63A63E;
  --basic-green-light: #8ED78F;
  --basic-yellow-light: #FFC047;
  --basic-gray: #A9A9A9;
  --basic-gray-light: #F1F5F7;
  --basic-orange: #FFD180;
  --error: #BA2732;
  --logo-border: #B52933;
  --background-gray: rgba(0, 0, 0, 0.0001);
  --basic-yellow-light2: #FFD180;
  --basic-beige: #F9F5F0;
  --basic-gray-light2: #EAEAEA;
  --basic-gray-old-price: #A9A9A9;
  --basic-white-light: #F3F7F9;
  --basic-gray-light3: #F4F4F4;
  --basic-red-light: #FF5257;
  --basic-gray-light4: #f4f7f9;
  --basic-green-hover: #5FBB2D;
}

body {
  min-width: 960px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*legend {*/
  /*border: none;*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

.container-global {
  width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  width: 100%;
  min-height: 320px;
  background: var(--basic-gray-light4);
}

.cap {
  width: 100%;
  min-height: 42px;
  background-color: var(--basic-black-dark);
  display: flex;
  /*flex-wrap: wrap;*/
}

.container-header-global {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.container-header {
  max-width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.header-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  min-height: 42px;
  margin-left: 220px;
}

.logo-style {
  display: flex;
  position: absolute;
  /*top: 0;*/
  /*left: 0;*/
  z-index: 150;
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;

  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-style:active {
  background: var(--error);
}

.logo {
  margin-top: 12px;
  margin-left: 55px;
}

.top-menu__form {
  position: relative;
  width: 269px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--basic-white);
}

.form-search__label {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 15px;
  top: 12px;
}

.form-search__label svg {
  fill: var(--basic-white);
  fill-opacity: 0.25;
}

.form-search__input {
  width: 270px;
  height: 42px;
  background-color: var(--basic-black-dark);
  border: none;
  padding-left: 42px;
  padding-right: 9px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.form-search__input::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.form-search__label:hover svg {
  fill-opacity: 1;
}

.form-search__input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.form-search__input:focus + .form-search__label svg {
  fill: var(--basic-red);
  fill-opacity: 1;
}

.form-search__input:focus::placeholder {
  color: var(--basic-black);
}

.bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 42px;
}

.bookmark:hover .bookmark-item {
  color: var(--basic-white);
}

.bookmark:hover .bookmark-icon {
  opacity: 1;
}

.bookmark:active{
  text-decoration: none;
  color: var(--basic-white);
  background: #161D29;
}

.bookmark-icon {
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  opacity: 0.3;
}

.bookmark-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  width: 150px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-item-catalog {
  margin-right: 15px;

}

.bookmark-item::before {
  content: "";
  display: flex;
  margin-right: 9px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.bookmark-item:hover::before {
  opacity: 1;
}

.bookmark-item:hover {
  text-decoration: none;
  color: var(--basic-white);
}

.bookmark-item:active {
  text-decoration: none;
  color: var(--basic-white);
  background: #161D29;
  opacity: 0.3;
}

.bookmark-item:active {
  text-decoration: none;
  color: var(--basic-white);
  background: #161D29;
  opacity: 0.3;
}

.basket-item {
  display: flex;
  align-items: center;
  width: 150px;
  height: 42px;

  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.basket-item:before {
  content: "";
  display: flex;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  margin-right: 8px;
  margin-left: 25px;
  background-image: url("../img/icon-cart.svg");
}

.basket-item-catalog {
  background-color: var(--basic-red);
  width: 136px;
  min-height: 42px;
  display: flex;
  justify-content: start;

  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.basket-item-catalog:before {
  content: "";
  display: flex;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  margin-right: 8px;
  margin-left: 12px;
  background-image: url("../img/icon-cart.svg");
}

.basket-item:hover:before {
  opacity: 1;
}

.basket-item:hover {
  color: var(--basic-white);
}

.basket-item:active {
  color: var(--basic-white);
  background: #161D29;
  opacity: 0.3;
}

.make-order {
  display: flex;
  min-width: 150px;
  min-height: 42px;
  background-color: var(--basic-green);
  justify-content: center;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.make-order:hover {
  background-color: var(--basic-green-hover);
  color: var(--basic-white);
}

.make-order:active {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

/*.communication-wrap {*/
  /*min-height: 158px;*/
/*}*/

.communication {
  display: flex;
  justify-content: space-between;
  background: var(--basic-gray-light4);
  padding-top: 46px;
  margin-bottom: 26px;
}

.communication-text {
  color: var(--basic-red);
  min-width: 197px;
  min-height: 71px;
  margin-left: 30px;
  margin-right: 93px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin-top: -2px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  align-items: center;
}

.phone-number {

  display: flex;
  align-items: center;
  color: var(--basic-red);
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background: var(--basic-white-light);
  width: 264px;
  border: 3px solid var(--basic-white);
}

.phone-number-catalog {

}

.phone-number:before {
  content: "";
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  margin-right: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 36px;
}

.phone-number:hover {
  color: var(--basic-red);
}

.address-header {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}

.block-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 51px;
}

.profile-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--basic-white);
  min-height: 45px;
  width: 299px;
}

.user-img {
  fill: #C5C5C5;
  margin-right: 21px;
}

.enter-profile {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background: var(--basic-white);
  display: flex;
  color: var(--basic-black);
}

.enter-profile:hover {
  color: var(--basic-black);
}

.enter-profile:hover path {
  fill: #3D546F;
}

.enter-profile:active {
  color: #C5C5C5;;
}

.enter-profile:active path {
  fill: #C5C5C5;
}

.exit-profile {
  border: none;
  padding: 0;
  margin: 0;
  background: var(--basic-white);
  margin-left: 20px;
}


.exit-profile:hover path {
  fill: #3D546F;
}
.exit-profile:active path {
  fill: #C5C5C5;
}



.cabinet-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 7px;
  width: 210px;
  min-height: 18px;
  justify-content: space-between;
}

.cabinet-row a {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black-light);
}
.order:after{
  content: "";
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-left: 14px;
  background: linear-gradient(0deg, var(--basic-black-light), var(--basic-black-light)), #FFFFFF;
}
.order:hover {
  color: var(--basic-red);
}
.order:hover:after{
  background: var(--basic-red);
}
.cabinet:hover {
  color: var(--basic-red);
}
.order:active {
  color: #C5C5C5;
}
.order:active:after{
  background: #C5C5C5;
}
.cabinet:active {
  color: #C5C5C5;
}
.order{
  display: flex;
  align-items: center;
}
.cabinet{
  display: flex;
}

.enter-wrap {
  display: flex;
  min-width: 281px;
  align-items: start;
  justify-content: space-between;
  margin-left: 69px;
}

.icon-enter {
  margin-left: 18px;
  margin-right: 7px;
  fill: #c5c5c5;
}

.button-enter {
  display: flex;
  align-items: center;
  width: 121px;
  min-height: 45px;
  border: none;
  background: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.button-enter:hover {
  color: var(--basic-red);
}

.button-enter:active {
  color: #c5c5c5;
  border: none;
}

.button-enter:hover path {
  fill: #3D546F;
}

.button-enter:active path {
  fill: #c5c5c5;
}

.registration {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  background: var(--basic-white);

  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.registration:hover {
  color: var(--basic-red);
}

.registration:active {
  color: #c5c5c5;
}

.nav {
  width: 940px;
}

.list {
  margin-top: 0;
  padding-left: 25px;
  padding-right: 25px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--basic-black-light);
  box-shadow: inset 0px -5px 0px var(--basic-black-dark);
  min-height: 60px;
}

.list-link {
  display: block;
  padding-left: 27px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 20px;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.list-link:hover {
  background: var(--basic-black-dark);
  box-shadow: inset 0px -5px 0px var(--basic-black-dark);
  color: var(--basic-white);
}

.list-link:active {
  background: #1D2739;
  box-shadow: inset 0px -5px 0px var(--basic-black-dark);
  color: var(--basic-white);
  opacity: 0.5;
}

.product {
  margin-top: 59px;
  margin-bottom: 59px;











  display: grid;
  /*-ms-grid-columns: 1fr 20px 1fr 20px 1fr;*/
  grid-template-columns: 1fr 1fr 1fr;

  grid-row-gap: 20px;
  grid-column-gap: 20px;


  /*grid-template-columns: repeat(11, 60px 20px) 60px;*/
  /*grid-row-gap: 10px;*/
  /*grid-template-rows: auto 20px auto 20px auto;*/
  /*grid-template-areas: "b b b b b b b . b2 b2 b2 b2 b2 b2 b2 . b3 b3 b3 b3 b3 b3 b3" ". . . . . . . . . . . . . . .  . . . . . . . ." "w w w w w w w w w w w w w w w   . b4 b4 b4 b4 b4 b4 b4 " "w w w w w w w w w w w w w w w  . . . . . . . ." "w w w w w w w w w w w w w w w  . b5 b5 b5 b5 b5 b5 b5"*/
}
.bo {
  /*grid-area: b;*/
  width: 300px;
  height: 123px;
  background-color: var(--basic-yellow);
  display: flex;
  justify-content: space-between;
}
.box {
  /*grid-area: b;*/
  width: 300px;
  height: 123px;
  background-color: var(--basic-yellow);
  display: flex;
  justify-content: space-between;
}

.box-column {
  display: flex;
  flex-direction: column;
  width: 135px;
  margin-left: 23px;
}

.box-text {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  margin-top: 20px;
  margin-bottom: 14px;
}

.box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
  width: 135px;
  height: 38px;
}

.box-link:hover {
  background: rgba(197, 197, 197, 0.3);
  mix-blend-mode: normal;
  color: var(--basic-white);
}

.box-link:active {
  background: rgba(169, 169, 169, 0.3);
  mix-blend-mode: normal;

}

.box-column2 {
  display: flex;
  flex-direction: column;
  width: 87px;
}

.box-icon {
  background-image: url("../img/pail.svg");
  width: 44px;
  height: 65px;
  margin-top: -39px;
}

.box-icon-new {
  background-image: url("../img/icon_new.svg");
  width: 70px;
  height: 70px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.box2 {
  /*grid-area: b2;*/
  background-color: var(--basic-blue);
  width: 300px;
  height: 123px;
  display: flex;
}

.box-column-icon {
  display: flex;
  flex-direction: column;
  width: 143px;
  height: 123px;
  justify-content: center;
  align-items: center;
}

.box2-icon {
  background-image: url("../img/drill.svg");
  width: 75px;
  height: 61px;
}

.box3 {
  /*grid-area: b3;*/
  width: 300px;
  height: 123px;
  background-color: var(--basic-lilac);
  display: flex;
}

.box3-icon {
  background-image: url("../img/tractor.svg");
  width: 78px;
  height: 62px;
}

.widget-wrapper {
  display: block;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;

  /*grid-area: w;*/
  background-color: #A89782;
  width: 620px;
  height: 266px;
}

.widget {
  width: 620px;
  height: 266px;
}

.widget1 {
  display: none;
  background-image: url("../img/slide.jpg");
  background-repeat: no-repeat;
}

.widget2 {
  background-image: url("../img/widget.jpg");
  background-repeat: no-repeat;
  display: none;
}

.widget-column {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  padding-top: 23px;
}

.widget-title {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.widget-text {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin-top: 5px;
}

.widget-control {
  display: flex;
  justify-content: space-between;
  margin-top: -145px;
  margin-left: 24px;
  margin-right: 20px;
}

.widget-icon-left {
  border: none;
  background: transparent;
  background-image: url("../img/icon-left.svg");
  width: 21px;
  height: 39px;
}

.widget-icon-right {
  border: none;
  background: transparent;
  background-image: url("../img/icon-right.svg");
  width: 21px;
  height: 39px;
}

.widget-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 192px;
  min-height: 38px;
  background-color: var(--basic-red);

  margin-left: 24px;
  margin-top: 113px;
}

.widget-link:hover {
  background: #CA2C37;
  color: var(--basic-white);
}

.widget-link:active {
  background: #BA2732;
  color: var(--basic-white);
}

.widget-wrap-slider {
  display: flex;
  justify-content: space-between;
  width: 30px;
  height: 10px;
  margin-top: 60px;
  margin-left: 295px;
}

.widget-dot {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: white;
}

.widget-dot-active {
  width: 10px;
  height: 10px;
  background-color: var(--basic-red);
  border: solid 2px var(--basic-white);
  border-radius: 50%;
}

.column {
  display: flex;
  flex-direction: column;
}

.box4 {
  /*grid-area: b4;*/
  width: 300px;
  height: 123px;
  background-color: var(--basic-green-light);
  display: flex;
}

.box4-icon {
  background-image: url("../img/truck.svg");
  width: 59px;
  height: 72px;
}

.box5 {
  /*grid-area: b5;*/
  background-color: var(--basic-yellow-light);
  width: 300px;
  height: 123px;
  display: flex;
}

.box5-icon {
  background-image: url("../img/car.svg");
  width: 78px;
  height: 63px;
}

.pop-firm {
  margin-top: 70px;
  background-color: var(--basic-white);
  min-height: 488px;
}

.title-wrap {
  background-color: var(--basic-beige);
  width: 940px;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 28px;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black-light);
}

.title-link {
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  display: flex;
  align-items: center;
  margin-right: 14px;
  justify-content: center;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.title-link:hover {
  background: #CA2C37;
  color: var(--basic-white);
}

.title-link:active {
  background: #BA2732;
  color: var(--basic-white);
}

.title-link-firm {
  margin-right: 19px;
  margin-top: -5px;
}

.sorting-block {
  margin-top: 20px;
  max-width: 940px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  grid-column-gap: 20px;
}

.card {
  border: 1px solid var(--basic-gray-light2);
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  margin-top: 6px;
}

.product-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
  margin-top: 8px;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-gray-old-price);
  margin-top: 7px;
}

.price-wrap {
  background-image: url("../img/red-button.svg");
  width: 141px;
  height: 38px;
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.icon-new {
  background-image: url("../img/icon_new.svg");
  width: 70px;
  height: 70px;
  margin-left: 150px;
}

.product-img2 {
  margin-top: -41px;
}

.product-link2 {
  margin-top: 38px;
}

.product-img3 {
  margin-top: 22px;
}

.product-img4 {
  margin-top: -41px;
}

.product-link3 {
  margin-top: 28px;
}

.product-link4 {
  margin-top: 38px;
}

.price-wrap1 {
  margin-top: 39px;
}

.firm-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.firm-wrap {
  border: 1px solid #EAEAEA;
  min-width: 218px;
  min-height: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firm-makita {
  margin-top: -6px;
}

.firm-dewalt {
  margin-top: -5px;
}

.firm-interskol {
  margin-top: -18px;
  margin-left: -5px;
}

.firm-wrap:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.firm-wrap:active {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service {
  width: 100%;
  background-color: var(--basic-gray-light);
  height: 522px;
}

.container-service {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.service-text-wrap {
  padding-top: 64px;
}

.service-title {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 0;

}

.service-text-height {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  max-width: 418px;
  min-height: 49px;
  margin-top: 25px;
}

.service-row {
  width: 950px;
  display: flex;
  padding-top: 58px;
}

.service-block {
  display: flex;
  flex-direction: column;
}

.block-button {
  width: 240px;
  min-height: 62px;
  text-align: left;
  padding-left: 22px;
  border: none;

  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background: var(--basic-black-light);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.block-button:hover {
  background: var(--basic-black-dark);
  color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-black-dark), inset 0px 1px 0px #405069;
}

.block-button-active {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  color: var(--basic-black-light);
}

.shadow {
  width: 10px;
  height: 279px;
  margin-left: -10px;
  margin-top: -45px;
  background: url("../img/shadow.svg") no-repeat;
}

.box-service-wrap-delivery {
  display: none;
  width: 100%;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 234px;
  background-position-y: 19px;
}
.box-service-wrap-guarantee{
  width: 100%;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
}
.box-service-credit{
  width: 100%;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
}
.send-order{
  width: 195px;
  min-height: 38px;
  background: var(--basic-red);

  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 3px;
  /*padding-right: 40px;*/
  /*padding-left: 40px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}
.send-order:hover {
  background: #CA2C37;
  color: var(--basic-white);
}

.send-order:active {
  background: #BA2732;
  color: var(--basic-white);
}

.box-service-wrap-guarantee {
  display: none;
}

.box-service-credit {
  display: none;
}

.box-service {
  max-width: 313px;
  min-height: 159px;
  margin-left: 80px;
}

.box-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black-light);
  margin-top: -2px;
  margin-bottom: 30px;
}
.box-title-guarantee{
  margin-bottom: 24px;
}

.service-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  min-width: 317px;
}

/*.box-service:after{*/
  /*content: "";*/
  /*display: none;*/
  /*width: 468px;*/
  /*height: 261px;*/
  /*background-image: url("../img/delivery.png");*/
/*background-repeat: no-repeat;*/
  /*margin-left: 151px;*/
  /*margin-top: -145px;*/
/*}*/

/*.delivery-img {*/
  /*background-image: url("../img/delivery.png");*/
  /*width: 468px;*/
  /*height: 261px;*/
  /*margin-left: -160px;*/
  /*margin-top: 20px;*/
/*}*/

.box-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black-light);
}

.about-us-contact {
  min-height: 496px;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  height: auto;
  padding-bottom: 70px;
}

.about-us {
  max-width: 460px;
}

.about-us-title{
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.contact{
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.about-us-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin-top: 24px;
  margin-bottom: 0;
}

.about-us-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  margin-top: 3px;
}
/*.about-us-list:last-child{*/
  /*margin-bottom: ;*/
/*}*/

.about-us-item {
  display: flex;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 12px;
}

.about-us-item:before {
  content: "";
  width: 25px;
  height: 2px;
  display: inline-block;
  vertical-align: center;
  background: var(--basic-red);
  margin-right: 12px;
}

.about-us-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--basic-red);
}

.about-us-link:hover {
  background: #CA2C37;
  color: var(--basic-white);
}

.about-us-link:active {
  background: #BA2732;
  color: var(--basic-white);
}

.contact-map {
  max-width: 300px;
  height: auto;
}

.contact-text {
  max-width: 180px;
  min-height: 49px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  margin-top: 24px;
}
.contacts-button-map{
  display: flex;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}
.contact-img {
}

.contact-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: var(--basic-red);
  border: none;
  display: flex;
  padding-left: 62px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-right: 61px;
}

.contact-link:hover {
  background: #CA2C37;
  color: var(--basic-white);
}

.contact-link:active {
  background: #BA2732;
  color: var(--basic-white);
}

.about-us-contact-wrap-link {
  display: flex;
  justify-content: space-between;
  margin-top: 0; /*4*/
}

.footer-wrap {
  width: 100%;
  background-color: var(--basic-black-light);
  min-height: 193px;
}

.container-footer {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.footer-up {
  background-color: var(--basic-black-light);
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-logo-style {
  width: 220px;
  height: 63px;
  background-color: var(--basic-red);
  border-bottom: var(--logo-border) solid 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navigation {
  width: 549px;
  height: auto;
  padding: 0;
  margin-top: 37px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-item {
  list-style: none;
}

.footer-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gray-light);
}

.footer-link:hover {
  text-decoration-line: underline;
  color: #F1F5F7;
}

.footer-link:active {
  color: #F1F5F7;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-up2 {
  display: flex;
  margin-top: 22px;
  justify-content: space-between;
}

.footer-block {
  padding-left: 2px; /*no*/
  min-width: 321px;
  min-height: 49px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-light)
}

.footer-text {
  margin-bottom: 0;
  margin-top: 0;
}

.footer-phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-light)
}

.footer-list2 {
  width: 525px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.footer-item2 {
  padding: 0;
}

.footer-link2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--basic-orange);
}

.footer-link2:hover {
  text-decoration-line: underline;
  color: var(--basic-orange);
}

.footer-link2:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-low {
  background-color: var(--basic-black-dark);
}

.footer-low-row {
  background-color: var(--basic-black-dark);
  display: flex;
  min-height: 73px;
  padding-top: 34px;
}

.footer-low-text {
  width: 250px;
  min-height: 37px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-top: 2px;
}

.social-list {
  margin-top: 0;
  margin-left: 139px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.social-img {
}

.social-button {
  min-width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 3px;
  fill: var(--basic-white);
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-low-column1 {
  display: flex;
  flex-direction: column;
  max-width: 145px;
  min-height: 37px;
  margin-left: 118px;
}

.footer-low-column1 span {
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer-low-column2 {
  display: flex;
  flex-direction: column;
  max-width: 98px;
  min-height: 37px;
  margin-left: 51px;
}

.footer-low-column2 span {
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.link {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFD180;
}

.link:hover {
  color: #FFD180;
  text-decoration-line: underline;
}

.link:active {
  color: #ee3643;
}

/*.guarantee-img {*/
  /*background-image: url("../img/guarantee.png");*/
  /*background-repeat: no-repeat;*/
  /*width: 389px;*/
  /*height: 283px;*/
  /*margin-left: -70px;*/
/*}*/

.width940 {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

/*.credit-img {*/
  /*background-image: url("../img/credit.png");*/
  /*background-repeat: no-repeat;*/
  /*width: 465px;*/
  /*height: 285px;*/
  /*margin-left: -147px;*/
/*}*/

.modal-map {
  width: 943px;
  height: 449px;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.map {
  z-index: 10;
  position: absolute;
  top:1px;
  bottom: 0;
  right: 0;
  left: 19px;
}

.modal-map-img {
  position: absolute;
  z-index: -1;
  top: -20px;
}

.map-none {
  display: none;
}

.map-active {
  display: flex;
}

.close-img {
  z-index: 100;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  margin-left: auto;
  margin-right: 28px;
  margin-top: 10px;
}

.close-img-none {
  display: none;
}

.close-img-active {
  display: flex;
}

.write_us {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  border-top: 7px solid var(--basic-red-light);
  width: 620px;
  height: 423px;
  background: var(--basic-white);
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
}

.modal-show {
  display: flex;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-4000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.write_us-wrap {
  max-width: 460px;
  height: auto;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

}

.write_us-row {
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.write_us-column {
  display: flex;
  flex-direction: column;
}

.name,
.email,
.text-message {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0;
  margin: 0;
}

.name-input,
.email-input {
  padding: 0;
  margin: 0;
  border: solid 2px #c5c5c5;
  background: var(--basic-white);
  margin-top: 11px;
  margin-bottom: 13px;
  width: 196px;
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
}

.text-message-input {
  margin-top: 11px;
  border: solid 2px #c5c5c5;
  margin-bottom: 37px;
  padding-right: 11px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 11px;
  height: 93px;
  width: 433px;
}

.text-message-input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #A9A9A9;
}

.name-input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #A9A9A9;
}

.email-input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #A9A9A9;
}

.write_us-column-text {
  display: flex;
  flex-direction: column;
}

.write_us_close-img {
  background: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  margin-top: 14px;
  margin-right: 11px;
  margin-left: auto;
  margin-bottom: 4px;
  border: none;
}

.write_us-low {
  background: var(--basic-gray-light3);
  min-height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 620px;
  padding-bottom: 0;
}

.button-send {
  border: none;
  display: flex;
  background: var(--basic-red);
  justify-content: center;
  align-items: center;
  width: 460px;
  min-height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 0;
}

.container-catalog-global {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  min-height: 59px;
  align-items: center;
}

.crumb {
  display: flex;
  align-items: center;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.arrow-right-small {
  content: "";
  display: flex;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  margin-right: 18px;
  background-color: transparent;
}

.home-img {
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 12px;
  margin: 0;
  margin-right: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.perforator {
  min-height: 89px;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black-light);
  background-color: #F2F6F8;
  margin: 0;
  padding: 0;
  padding-left: 29px;
  margin-bottom: 20px;
}

.catalog {
  display: flex;
}

.filter-wrap {
  width: 220px;
  margin-right: 20px;
}

.filter-price {
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 15px;
  border: none;
}

.filter-title-price {
  margin-bottom: 11px;
}

.filter-title-battery {
  margin-bottom: 23px;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  background: #F7F3EC;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.scale {
  height: 2px;
  background: #D7DCDE;
}

.bar {
  width: 80%;
  height: 2px;
  background: #00CA74;
}

.toggle {
  position: absolute;
  border: 8px solid var(--basic-white);
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.price-controls label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  margin: 0;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 91px;
  background: #F7F3EC;
  border: none;
  min-height: 36px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*.line {*/
/*display: flex;*/
/*height: 1px;*/
/*width: 100%;*/
/*margin-top: 25px;*/
/*margin-bottom: 16px;*/
/*background-color: #E5E5E5;*/
/*}*/

.line2 {
  margin-top: 28px;
  margin-bottom: 17px;
  background-color: #E5E5E5;
  height: 1px;
  width: 100%;
}

.between-stick {
  height: 1px;
  width: 9px;
  background: #444444;
}

.box-filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background: #F7F3EC;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.slider-price {
  width: 95px;
  height: 38px;
  background: #F7F3EC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--basic-black);
  display: flex;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter:nth-child(2) .filter-input-list {
  margin-top: 6px;
}

.filter:nth-child(3) .filter-input-list {
  margin-top: 13px;
}

.filter__label {
  position: relative;
  display: flex;
  padding-left: 35px;
}

.filter__label input {
  -webkit-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.filter-input-list__item + .filter-input-list__item {
  margin-top: 20px;
}

.filters-column {
  flex-shrink: 0;
  width: 220px;
  margin-right: 20px;
}

.filters-container__title {
  background-color: #F7F3EC;
}

.filter {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.filter:nth-child(2) {
  margin-top: 41px;
}

.filter:nth-child(3) {
  margin-top: 46px;
}

.filter:not(:first-child)::before {
  position: absolute;
  top: -16px;
  display: block;
  width: 100%;
  border-top: 1px solid #E5E5E5;
  content: '';
}

.filter:nth-child(3)::before {
  top: -19px;
}

.filter-price {
  margin-top: 12px;
}

.filter-vendors {
  margin-top: 15px;
}

.filter-supply {
  margin-top: 18px;
}

.filter__title,
.filter__label {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter:nth-child(2) .filter__title {
  margin-bottom: 19px;
}

.filter:nth-child(3) .filter__title {
  margin-bottom: 24px;
}

.filter__label {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.filter:disabled .checkbox,
.filter:disabled .radiobutton {
  opacity: 0.3;
}

input:disabled ~ .filter__label-text {
  opacity: 0.4;
}

.filters__submit-button {
  width: 100%;
  box-sizing: border-box;
  margin-top: 38px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid #E5E5E5;
  background-color: var(--basic-white);
}

/* Чекбоксы (checkboxes) */

input[type='checkbox'] + .checkbox {
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23c5c5c5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.filter__label:hover input[type='checkbox'] + .checkbox,
input[type='checkbox']:focus + .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23b5b5b5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

input[type='checkbox']:disabled + .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23b5b5b5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
}

input[type='checkbox']:checked + .checkbox {
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23c5c5c5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.filter__label:hover input[type='checkbox']:checked + .checkbox,
input[type='checkbox']:checked:focus + .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23b5b5b5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

input[type='checkbox']:checked:disabled + .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23b5b5b5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
}

.filter__label .checkbox {
  position: absolute;
  left: 0px;
  top: -3px;
  display: block;
}

.filter-battery {
  margin-bottom: 18px;
  border: none;
}

fieldset {
  padding: 0;
}

.filter-option {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.checkradio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 8px;
}

.filter-option input:checked ~ .checkradio::before {
  height: 9px;
  width: 9px;
  content: "";
  background: #c5c5c5;
  border-radius: 50%;
}

.filter-option:hover checkradio {
  border-color: #b5b5b5;
}

.filter-option:hover input:checked ~ .checkradio::before,
.filter-option input:disabled ~ .checkradio::before {
  background: #b5b5b5;
}

.filter-option input:disabled ~ .checkradio {
  border-color: #b5b5b5;
  opacity: 0.3;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background: var(--basic-white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  text-transform: uppercase;
}

.block-product-catalog {
  width: 700px;
}

.sort-row {
  display: flex;
  align-items: center;
  background: #F7F3EC;
  min-height: 38px;
  margin-bottom: 28px;
}

.sort-text {
  margin-left: 20px;
  margin-right: 140px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  text-transform: uppercase;
  background: transparent;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  border-bottom: var(--basic-red) 1px dotted;
}

.button-price:hover {
  opacity: 1;
  color: var(--basic-black);
  border-bottom: solid 1px var(--basic-red);
}

.button-price:active {
  color: var(--basic-red);
}

.button-type {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: transparent;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  margin-right: 65px;
  border: none;
  border-bottom: var(--basic-red) 1px dotted;
}

.button-type:hover {
  opacity: 1;
  border-bottom: solid 1px var(--basic-red);
}

.button-function {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: transparent;
  display: flex;
  align-items: center;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  margin-right: 46px;
  border: none;
  border-bottom: var(--basic-red) 1px dotted;
}

.button-function:hover {
  opacity: 1;
  border-bottom: solid 1px var(--basic-red);
}

.button-sort-up {
  padding: 0;
  margin: 0;
  margin-right: 21px;
  background: transparent;
  border: none;
}

.sort-up-img path {
  fill: #C5C5C5;
}

.button-sort-up:hover path {
  fill: var(--basic-black);
}

.button-sort-low {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.sort-low-img path{
  fill: #C5C5C5;
}

.button-sort-low:hover path {
  fill: var(--basic-black);
}

.active {
  color: var(--basic-red);
  border: none;
  opacity: 1;
}

.active-svg path {
  fill: var(--basic-red);
}

.sorting-block-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 700px;
  grid-row-gap: 17px;
  grid-column-gap: 20px;
  margin-bottom: 46px;
}

.buy-add-item {
  display: none;
  flex-direction: column;
  z-index: 2;
}

.buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  min-height: 38px;
  border: none;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  margin-bottom: 10px;
}

.buy:before {
  content: "";
  display: flex;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
  opacity: 0.3;
}

.buy:hover {
  background: #5FBB2D;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.buy:active {
  background: #518534;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  border: none;
}

.working-block {
  display: flex;
}

.bookmark-add {
  width: 135px;
  min-height: 38px;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--basic-black-light);
}

.bookmark-add:hover {
  border: 3px solid var(--basic-black-light);
  box-sizing: border-box;
  border-radius: 2px;
}

.bookmark-add:active {
  border: 3px solid #98A0AD;
  box-sizing: border-box;
  border-radius: 2px;
  color: #98A0AD;
}

.card-catalog {
  display: flex;
  flex-direction: column;
  background: var(--basic-white);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.card-catalog:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card-catalog:hover .product-item {
  display: none;
}

.card-catalog:hover .buy-add-item {
  display: flex;
}

.box-icon-new-catalog {
  position: absolute;
  background-image: url("../img/icon_new.svg");
  width: 70px;
  height: 70px;
  display: flex;
  margin-left: 148px;
}

.img-catalog-wrap {
  width: 218px;
  height: 178px;
  background: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.wrap-product {*/
  /*min-height: 138px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
/*}*/

.link-product-catalog + .new-price-catalog {
  margin-top: 31px;}

.link-product-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  color: var(--basic-black);
  display: block;
  text-align: center;
  margin-bottom: 7px;
}

.old-price-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-gray-old-price);
  margin-bottom: 15px;
}

.new-price-catalog {
  background: transparent;
  background-image: url("../img/red-button.svg");
  width: 141px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 43px;
  margin-bottom: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.number-page {
  display: flex;
  margin-bottom: 58px; /*59*/
  margin-left: 240px;
}

.button-number-page {
  margin-right: 9px;
  background: var(--basic-white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.button-number-page-next {
  padding-left: 30px;
  padding-right: 30px;
}

.button-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button-number-page:hover {
  border: 1px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.button-number-page:active {
  outline: none;
  border: 1px solid var(--basic-red);
  box-sizing: border-box;
  border-radius: 2px;
}

.about-perforator {
  background-color: var(--basic-gray-light);
}

.about-perforator-title {
  padding-top: 64px;
  margin-bottom: 25px;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-perforator p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.about-perforator-text-wrap {
  padding-bottom: 70px; /*69*/
}

.about-perforator-text-wrap p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.add-basket {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  display: none;
  background: var(--basic-white);
  width: 620px;
  height: 282px;
  border-top: 7px solid var(--basic-red);
  z-index: 101;
}

.window-block {
  display: block;
}

.close-add-basket {
  border: none;
  width: 21px;
  height: 21px;
  background: none;
  background-image: url("../img/icon-close.svg");
  margin-left: 588px;
  margin-top: 11px;
}

.row-basket {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 49px;
}

.daw-img {
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  margin-left: 81px;
  margin-right: 30px;
}

.text-add-basket {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.button-row {
  background: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 112px;
}

.button-checkout {
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 192px;
  min-height: 38px;
  margin-right: 10px;
}

.button-checkout:hover {
  background-color: #CA2C37;
  color: var(--basic-white);
}

.button-checkout:active {
  background-color: #BA2732;
  color: var(--basic-white);
}

.button-continue-shopping {
  width: 192px;
  min-height: 38px;
  background-color: var(--basic-white);
  border: none;
  font-family: "Cuprum", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}


